.toastContainer {
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px;
  overflow: hidden;
}

.toast {

  display: flex;

  width: 22.5rem;

  position: relative;
  padding: 16px 30px 16px 16px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

  background: #FDDEDE;
}

.toast > div {
  flex: 1;
}

.toast > div > strong{
  color: #c23535;
  font-weight: 500;
}

.toast > div > p{
  color: #d16464;

  margin-top: 4px;
  font-size: 0.9rem;
  opacity: 0.8;
  line-height: 20px;
}

.toast > svg {

  color: #d16464;

  margin: 4px 12px 0 0;

}

.toast > button {

  position: absolute;
  right: 16px;
  top: 19px;
  opacity: 0.6;
  border: 0;
  background-color: transparent;
  color: #de8080;

  cursor: pointer;
}